/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/login/login.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.login_container__js8X_ {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/login/loginForm/loginForm.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.loginForm_form__yXBLQ {
  background-color: var(--bgSoft);
  padding: 50px;
  border-radius: 10px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.loginForm_form__yXBLQ input {
  width: 100%;
  padding: 30px;
  border: 2px solid #2e374a;
  border-radius: 5px;
  background-color: var(--bg);
  color: var(--text);
}

.loginForm_form__yXBLQ button {
  width: 100%;
  padding: 30px;
  background-color: teal;
  color: var(--text);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

