/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/users/addUser/addUser.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.addUser_container___SGaw {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .addUser_form__s6AoX {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .addUser_form__s6AoX input,
  .addUser_form__s6AoX textarea,
  .addUser_form__s6AoX select {
    padding: 30px;
    background-color: var(--bg);
    color: var(--text);
    border: 2px solid #2e374a;
    border-radius: 5px;
    margin-bottom: 30px;
  }
  
  .addUser_form__s6AoX input, .addUser_form__s6AoX select {
    width: 45%;
  }
  
  .addUser_form__s6AoX textarea{
    width: 100%;
  }
  
  .addUser_form__s6AoX button{
    width: 100%;
    padding: 30px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
