/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./app/ui/dashboard/users/signleUser/singleUser.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
.singleUser_container__U5zeQ {
    display: flex;
    gap: 50px;
    margin-top: 20px;
  }
  
  .singleUser_infoContainer__jcXjI {
    flex: 1 1;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    color: var(--textSoft);
    height: max-content;
  }
  
  .singleUser_imgContainer__SazYn{
    width: 100%;
    height: 300px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .singleUser_formContainer__eaQkR {
    flex: 3 1;
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
  }
  
  .singleUser_form__giOu_{
    display: flex;
    flex-direction: column;
  }
  
  .singleUser_form__giOu_ input, .singleUser_form__giOu_ textarea, .singleUser_form__giOu_ select{
    padding: 20px;
    border: 2px solid #2e374a;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--text);
    margin: 10px 0px;
  }
  
  .singleUser_form__giOu_ label{
    font-size: 12px;
  }
  
  .singleUser_form__giOu_ button{
    width: 100%;
    padding: 20px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
